<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="common:header">header form common</div>
    <div id="tab" style="height:200px">
    <div><img src="/index/1.0.1/i/tab_67f387c.gif" alt=""></div>
    <div>
        <ul id="list" >
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
</ul>
<p>list form index</p>

<div id="site">
	site form index in list
</div>


    </div>
</div>
<p>tab form index</p>

    <div id="common:footer">footer form common</div>

    
</body>

</html>
